EXCHANGE_NAME=binance
SYMBOL=BTC/USDT
TIMEFRAME=1h
RUN_INTERVAL_MINUTES=60
ACCOUNT_BALANCE=1000
RISK_PER_TRADE=0.02

PAPER_MODE=True
MAX_DAILY_LOSS=0.05
MAX_TRADES_PER_DAY=5
MAX_OPEN_TRADES=1
STOP_BOT_PATH=./STOP_BOT

FEE_RATE=0.001
SLIPPAGE_PCT=0.0005
BACKTEST_CANDLES=5000
MIN_BACKTEST_TRADES=50

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

BINANCE_API_KEY=
BINANCE_SECRET=
